.wp-block-[prefix]-container {
	position: relative;
	box: middle center;

	&:not(.is-repeated) {
		background-size: cover;
	}

	&[style*="margin-left"] {

		.entry-content > & {

			body:not(.has-sidebar)  & {
				left: auto;
				width: auto;
			}
		}
	}

	&__content {
		width: 100%;
		z-index: 1;
		position: relative;
	}

	&__video-background {
		position: absolute 0;
		size: 100%;
		object-fit: cover;
	}

	&__gradient-background {
		z-index: 1;
		position: absolute 0 0 0 0;
		opacity: 0.5;

		@for $i from 10 to 100 by 10 {

			.has-background-dim-$i & {
				opacity: calc($(i) / 100);
			}
		}
	}

	.has-parallax {
		background-attachment: fixed;
	}

	.has-background-dim {

		&:not(.has-background-gradient) {

			&::before {
				background-color: inherit;
				z-index: 1;
				position: absolute 0 0 0 0;
				content: "";
			}
		}

		&::before {
			opacity: 0.5;
		}

		@for $i from 10 to 100 by 10 {

			&-$i::before {
				opacity: calc($(i) / 100);
			}
		}
	}
}
