@use "sass:math";

/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-sixa-container {
	position: relative;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;

	/* This block has customizable padding, border-box makes that more predictable. */
	box-sizing: border-box;

	&.has-parallax {
		background-attachment: fixed;

		/*
         * Mobile Safari does not support fixed background attachment properly.
         * See also https://stackoverflow.com/questions/24154666/background-size-cover-not-working-on-ios
         * Chrome on Android does not appear to support the attachment at all: https://issuetracker.google.com/issues/36908439
         */
		@supports (-webkit-overflow-scrolling: touch) {
			background-attachment: scroll;
		}

		/* Remove the appearance of scrolling based on OS-level animation preferences. */
		@media (prefers-reduced-motion: reduce) {
			background-attachment: scroll;
		}
	}

	&.is-repeated {
		background-repeat: repeat;
		background-size: auto;
	}

	&__content {
		width: 100%;
		z-index: 1;
		position: relative;

		> .block-list-appender {
			max-width: 100%;
		}
	}

	&__video-background {
		position: absolute 0;
		size: 100%;
		object-fit: cover;
		max-width: none;
		max-height: none;
		outline: none;
		border: none;
		box-shadow: none;
	}

	&__gradient-background {
		z-index: 1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0.5;
		$i: 10;

		@while $i <= 100 {
			.has-background-dim-#{$i} & {
				opacity: math.div($i, 100);
			}
			$i: $i + 10;
		}
	}

	&.is-full-height {
		height: 100vh;
	}

	&.has-background-dim {

		/**
        * Set a default background color for has-background-dim _unless_ it includes another
        * background-color class (e.g. has-green-background-color). The presence of another
        * background-color class implies that another style will provide the background color
        * for the overlay.
        *
        * See:
        *   - Issue with background color specificity: https://github.com/WordPress/gutenberg/issues/26545
        *   - Issue with alternative fix: https://github.com/WordPress/gutenberg/issues/26545
        */
		&:not([class*="-background-color"]) {
			background-color: #000;
		}

		&::before {
			opacity: 0.5;
		}

		&:not(.has-background-gradient) {

			&::before {
				background-color: inherit;
				z-index: 1;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				content: "";
			}
		}

		$i: 10;

		@while $i <= 100 {
			&-#{$i}::before {
				opacity: math.div($i, 100);
			}
			$i: $i + 10;
		}
	}

	&.has-background-size {

		&-auto {
			background-size: auto;
		}

		&-contain {
			background-size: contain;
		}
	}

	@each $horizontal, $justify in (left, flex-start), (center, center), (right, flex-end) {

		@each $vertical, $align in (top, flex-start), (center, center), (bottom, flex-end), {
			&.is-position-#{$vertical}-#{$horizontal} {
				align-items: #{$align};
				justify-content: #{$justify};
			}
		}
	}
}
